extends layout

block content
    .container
        // small cards
        .row
            each contract in c
                .col-md-4
                    .card
                        .card-content
                            .card-header-blue
                                h1.card-heading
                                    | #{contract.name}
                            .card-body
                                p.card-p
                                    | #{contract.description}
                            nav.nav-tabs
                                ul.nav.nav-pills.pull-left
                                    li.card-action
                                        a(href='/goto?url=https://etherchain.org/account/#{contract.c_addr}') 合约地址
                                    li.card-action
                                        a(href='/goto?url=https://etherchain.org/account/#{contract.owner}') 作者地址
                                    li.card-action
                                        a(href="/goto?url=#{contract.url}") 详情页面

